.p-Services.Div15 {
;
}
.p-Services.Div16 {
;
}
.p-Services.Div17 {
margin-top: 70px;
margin-left: 100px;
margin-right: 100px;
}
.p-Services.Flex11 {
display: flex;
justify-content: space-around;
width: ;
height: 20rem;
}
.p-Services.Div18 {
;
}
.p-Services.Flex12 {
display: flex;
flex-direction: column;
justify-content: space-between;
align-self: center;
height: 100%;
width: ;
align-content: stretch;
text-align: left;
}
.p-Services.Div19 {
;
}
.p-Services.Flex14 {
display: flex;
flex-direction: column;
justify-content: space-between;
align-self: center;
height: 100%;
}
.p-Services.Div20 {
;
}
.p-Services.Flex15 {
display: flex;
flex-direction: column;
justify-content: space-between;
align-self: center;
height: 100%;
}
.p-Services.TextServices {
font-family: IBM Plex Sans;
font-size: 30px;
font-weight: 200;
line-height: 30px;
align-self: center;
text-align: center;
color: #d14646;
margin-left: 100px;
margin-right: 100px;
}
.p-Services.Text {
font-family: IBM Plex Sans;
font-size: 50px;
margin-left: 100px;
margin-right: 100px;
text-align: center;
padding-left: 50px;
padding-right: 50px;
margin-top: 30px;
}
.p-Services.Image10 {
font-size: ;
align-self: center;
}
.p-Services.TextBox1 {
font-family: IBM Plex Sans;
font-size: 20px;
}
.p-Services.TextBox {
font-family: IBM Plex Sans;
text-align: left;
word-wrap: normal;
width: 11.5rem;
}
.p-Services.TextBo {
font-family: IBM Plex Sans;
}
.p-Services.TextBox24 {
font-family: IBM Plex Sans;
}
.p-Services.TextBox25 {
font-family: IBM Plex Sans;
}
.p-Services.TextBox31 {
font-family: IBM Plex Sans;
}
.p-Services.TextBox32 {
font-family: IBM Plex Sans;
}
.p-Services.TextBox33 {
font-family: IBM Plex Sans;
}
.p-Services.TextBox34 {
font-family: IBM Plex Sans;
text-align: left;
word-wrap: normal;
width: 11.5rem;
}
.p-Services.TextBox35 {
font-family: IBM Plex Sans;
font-size: 20px;
color: #000000;
}
.p-Services.Image12 {
font-size: ;
align-self: center;
height: 62px;
}
.p-Services.Image13 {
font-size: ;
align-self: center;
height: 58px;
}
.p-Services.TextBox36 {
font-family: IBM Plex Sans;
font-size: 20px;
color: #000000;
}
.p-Services.TextBox37 {
font-family: IBM Plex Sans;
text-align: left;
word-wrap: normal;
width: 11.5rem;
}
.p-Services.TextBox38 {
font-family: IBM Plex Sans;
}
.p-Services.TextBox39 {
font-family: IBM Plex Sans;
}
.p-Services.TextBox40 {
font-family: IBM Plex Sans;
}
